nav {
  height: 50px;
  font-size: 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  margin: 30px 0 50px 0;
  div {
    grid-column: 1 / 4;
    display: flex;
    align-items: center;

    p {
      margin-left: 5px;
    }

    svg {
      margin-top: 3px;
    }
  }
  form {
    input {
      border: 1px solid lightgray;
      padding: 10px;
      border-radius: 5px;
      text-align: center;
    }
    grid-column: 5 / 8;
  }

  .icons {
    grid-column: 10 / -1;
    display: flex;
    justify-content: space-between;
  }
}
