.search-section {
  height: 50px;
  font-size: 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  span {
    grid-column: 1 / 4;
  }
  input {
    text-align: center;
    grid-column: 5 / 8;
  }

  div {
    grid-column: 10 / -1;
    display: flex;
    justify-content: space-between;
  }
}
